.titulo{
    justify-content: center;
}

mat-form-field {
    display: block; 
    margin-bottom: 20px; 
  }
  
  mat-button-toggle-group {
    display: block; 
  }
  
  mat-button-toggle {
    margin-right: 10px; 
  }
  
  mat-dialog-actions {
    justify-content: space-between; 
  }